@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
body {
	
  background-color: #292c5f;
  min-height: 100%;
  color: white;
}
.centre{
	padding-top: 10px;
	background-color: #26293d;
	min-height:100vh;
	min-width:560px;
	
}
a:visited {
  color: green;
}

.centered-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.main{
  text-align: center;
  font-family: "Raleway", sans-serif;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}





.donatebutton{
padding-top: 5px;

}