body {
  background-color: #167638;
  height: 100%;
  margin: 0;
}
.centre{
	padding-top: 10px;
	background-color: #0e4d24;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow: auto;
	
}

.main{
  text-align: center;
  font-family: "Raleway", sans-serif;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.store{
padding-top:10px;
display:inline;
}

